* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --background-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --text-h1: 800 24px/135% var(--font-family);
    --text-h2: bold 16px/140% var(--font-family);
    --text-h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text-sm: 500 10px/12px var(--font-family);
    --text: 14px/160% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    max-width: 1280px;
    margin: auto;
    background-color: var(--background-color);
}

.navbar-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    padding-block: 20px;
}

h2 {
    font: var(--text-h2);
}

.menu,
.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar-primary .logo {
    color: var(--brand-color-light);
    font-size: 24px;
    line-height: 24px;
}

.navbar-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
    padding-inline: 32px;
    font: var(--text-span);
    border-block: 1px solid var(--stroke-color);
}

.navbar-secondary span:nth-child(1):hover {
    color: var(--brand-color-light);
}

main {
    display: flex;
    gap: 80px;
    padding-inline: 32px;
    padding-block: 40px;
}

.relevant-news {
    display: flex;
    gap: 16px;
}

.main-news-card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.main-news-card img {
    display: block;
    width: 608px;
    height: 100%;
}

.news-content {
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
    position: absolute;
    padding-inline: 24px;
    padding-top: 72px;
    padding-bottom: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--text-color-primary);
    font: var(--text-h1);
}

.badge {
    display: inline-block;
    align-self: flex-start;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 4px;
    background-color: var(--brand-color-dark);
    color: var(--text-color-primary);
    font: var(--text-sm);
    letter-spacing: 4%;
    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}

.secondary-news-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.secondary-news-card img {
    width: 288px;
    height: 100%;
}

.news-card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.news-content-secondary {
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
    position: absolute;
    padding-inline: 12px;
    padding-bottom: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--text-color-primary);
    font: var(--text-h3);
}
