.navbar-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    padding-block: 20px;
}

.menu,
.search {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navbar-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 14px;
    padding-inline: 32px;
    font: var(--text-span);
    border-block: 1px solid var(--stroke-color);
}

.navbar-secondary span:nth-child(1):hover {
    color: var(--brand-color-light);
}
